@{
    ViewData["Title"] = "Inicio";
}

<style>
    .leaflet-bar a {
        background-color: rgb(0,0,0,.7);
        color: white;
        border-bottom: 1px solid #000;
    }

    .leaflet-bar a.leaflet-disabled {
        background-color: rgb(0,0,0,.7);
    }

    .leaflet-bar a:hover, .leaflet-bar a:focus {
        background-color: rgb(0,0,0);
    }
</style>

<div id="map">
    <header id="panel">
        <partial name="_Navbar" />
    </header>
    <button id="nuevaAlerta">
        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">
            <i class="bi bi-pencil-square" style="font-size: 17px"></i>
        </a>
    </button>
    <button id="menuUser" onclick="toLogin()">
        <i class="bi bi-person-circle" style="font-size: 23px; color: white"></i>
        <div id="popupOptions">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Iniciar sesión</a>
            <hr style="margin-bottom: 0px; margin-top: 0px" />
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Registrarse</a>
        </div>
    </button>
</div>


<script>
    function toLogin() {
        var popup = document.getElementById("popupOptions");
        popup.classList.toggle("show");
    }
</script>
<script src="~/js/map.js"></script>