@model List<Accidente>

@{
    ViewData["Title"] = "Alertas";
}

<style>
    #layout-container .left-head {
        width: 100%;
        justify-content: space-between;
    }
</style>

<div class="container-90">
    
    <h1 class="main-title">Mis Alertas</h1>
    <h5 class="subtitle">Tus últimas 20 alertas enviadas</h5>

    @if (Model.Count == 0)
    {
        <h4>Aún no has enviado ninguna alerta :(</h4>
    }
    <div class="layout">
        @foreach (var item in Model)
        {
            <div class="item-container ic-2">
                <div class="item-head">
                    <div class="left-head lh-2">
                        @{
                            var cat = "";
                            if (item.Categoria.Nombre == "Accidente de tráfico")
                                cat = "Trafico";
                            else
                                cat = item.Categoria.Nombre;
                        }
                        <h3 class="categoria @cat">@item.Categoria.Nombre</h3>
                        <h5 class="fecha">@item.Fecha</h5>
                    </div>
                </div>
                <div class="item-body">
                    <p class="item-content">@item.Descripcion</p>
                </div>
            </div>
        }
    </div>
</div>