@using PreventApp.DTOs;
@model NewPasswordDTO

@{
    ViewData["Title"] = "Cambiar contraseña";
}

<div class="container-90">
    <h1 class="main-title">Cambiar Contraseña</h1>
    <h5 class="subtitle"></h5>

    <form asp-action="ChangePassword" method="post" class="data-container max-width-400">
        <label class="row-value">Contraseña actual</label>
        <input class="input-space" asp-for="ContraseñaActual"/>
        <span class="span-validation" asp-validation-for="ContraseñaActual"></span>
        <label class="row-value">Contraseña nueva</label>
        <input class="input-space" asp-for="ContraseñaNueva" />
        <span class="span-validation" asp-validation-for="ContraseñaNueva"></span>
        <label class="row-value">Confirmar contraseña nueva</label>
        <input class="input-space" asp-for="ConfirmarContraseñaNueva" />
        <span class="span-validation" asp-validation-for="ConfirmarContraseñaNueva"></span>
        @if (ViewData["Validation"] != null)
        {
            <span class="span-validation">@ViewData["Validation"]</span>
        }
        <div class="btn-container btn-container-form">
            <button type="submit" class="common-btn">Aceptar</button>
            <a asp-action="Profile" class="common-btn">Cancelar</a>
        </div>
    </form>
</div>