
<nav class="navbar navbar-expand-sm box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: #16c6ff;" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-map" style="font-size: 20px;"></i>
            PreventApp</a>
    </div>
</nav>
