
<style>
    .nav-container {
        display: flex;
        align-items: center;
        height: 52px;
        padding-left: 20px;
        padding-bottom: 7px;
    }

    .title {
        font-size: 20px;
        text-decoration: none;
        color: #16c6ff;
    }

    .title:hover {
        color: #16c6ff;
    }

</style>

<nav class="nav-container">
    <a class="title" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="bi bi-map"></i> PreventApp
    </a>
</nav>
