
<nav class="navbar navbar-expand-sm navbar-dark box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-map" style="font-size: 20px"></i>
            PreventApp</a>
    </div>
</nav>
