
<input type="checkbox" id="check" />
<div id="dk-1" class="darkdiv" onclick="CloseMenu()"></div>
<label for="check" onclick="moveBtn()">
    <i class="bi bi-list menu-button-dashboard" id="sidemenu-button"></i>
</label>

<div class="sidemenu">

    <div style="min-width: 230px">
        <label id="acc">ACCIDENTES</label>

        <a asp-controller="Dashboard" asp-action="Accidentes" asp-route-filtro="todos">
            <i class="bi bi-card-list" style="font-size: 16px"></i>
            <span>Todos</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Accidentes" asp-route-filtro="trafico">
            <i class="bi bi-car-front-fill" style="font-size: 16px"></i>
            <span>Accidentes de tráfico</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Accidentes" asp-route-filtro="incendios">
            <i class="bi bi-fire" style="font-size: 16px"></i>
            <span>Incendios</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Accidentes" asp-route-filtro="semaforos">
            <i class="bi bi-stoplights" style="font-size: 16px"></i>
            <span>Semáforos</span>
        </a>
    </div>

    <div style="min-width: 230px">
        <label class="cuenta-label">CUENTAS DE USUARIO</label>

        <a asp-controller="Dashboard" asp-action="Users" asp-route-filtro="todos">
            <i class="bi bi-people" style="font-size: 16px"></i>
            <span>Todos</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Users" asp-route-filtro="administradores">
            <i class="bi bi-person-lock" style="font-size: 16px"></i>
            <span>Administradores</span>
        </a>
        <a asp-controller="Dashboard" asp-action="Users" asp-route-filtro="usuarios">
            <i class="bi bi-person" style="font-size: 16px"></i>
            <span>Usuarios</span>
        </a>
    </div>

</div>

<script>
    var clicked = 0;
    function CloseMenu() {
        document.getElementById("check").checked = false;
        document.getElementById("sidemenu-button").style.left = "0px";
        clicked = 0;
    }

    function moveBtn() {
        if (clicked == 0) {
            document.getElementById("sidemenu-button").style.left = "265px";
            clicked = 1;
        }
        else {
            document.getElementById("sidemenu-button").style.left = "0px";
            clicked = 0;
        }
    }
</script>