@using PreventApp.DTOs;
@{
    ViewData["Title"] = "Iniciar sesión";
}
@model UsuarioDTO

<div class="fondo">
    <div class="login-register">
        <div class="imagelogin"></div>
        <div class="form-box">
            <h2 style="text-align:center" class="main-title">Iniciar sesión</h2>
            <form asp-action="Login" method="post">
                <div class="input-box">
                    <i class="bi bi-envelope"></i>
                    <input asp-for="Email" required placeholder=" " />
                    <label>Correo electrónico</label>
                    <span class="span span-validation" asp-validation-for="Email"></span>
                </div>
                <div class="input-box">
                    <i class="bi bi-lock"></i>
                    <input asp-for="Contraseña" required placeholder=" " />
                    <label>Contraseña</label>
                </div>
                @if (ViewData["ValidarLogin"] != null)
                {
                    <label class="text-danger" style="margin-bottom: 30px">@ViewData["ValidarLogin"]</label>
                }
                <button type="submit" class="btn">Iniciar sesión</button>
                <div class="pText">
                    <p>
                        No tienes una cuenta?
                        <a asp-action="Registro">Registrate</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector(".login-button").classList.add("visually-hidden");
</script>