@using PreventApp.DTOs;
@{
    ViewData["Title"] = "Registrarse";
}
@model UsuarioDTO

<div id="fondo"></div>

<header id="panel" style="background: #0d0f11">
    <partial name="_Navbar" />
</header>

<div id="contenedor100">
    <div id="login-register" style="height: 500px">
        <div class="imagelogin"></div>
        <div class="form-box">
            <h2 style="text-align:center">Registrarse</h2>
            <form asp-action="Registro" method="post">
                <div class="input-box">
                    <i class="bi bi-envelope"></i>
                    <input asp-for="Email" required placeholder=" " />
                    <label>Correo electrónico</label>
                </div>
                <div class="input-box">
                    <i class="bi bi-lock"></i>
                    <input asp-for="Contraseña" required placeholder=" " />
                    <label>Contraseña</label>
                </div>
                <div class="input-box">
                    <i class="bi bi-lock"></i>
                    <input asp-for="ConfirmarContraseña" required placeholder=" " style="margin-bottom: 8px"/>
                    <label>Confirmar contraseña</label>
                    <span asp-validation-for="ConfirmarContraseña" class="text-danger mb-4"></span>
                </div>
                @if (ViewData["ValidarRegistro"] != null)
                {
                    <label class="text-danger" style="margin-bottom: 20px">@ViewData["ValidarRegistro"]</label>
                }
                <button type="submit" class="btn">Registrarse</button>
                <div class="pText">
                    <p>
                        Ya tienes una cuenta?
                        <a asp-action="Login">Iniciar sesión</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>